<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RJ.Tools.NotesTransfer.Engines.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <RJ.Tools.NotesTransfer.Engines.Properties.Settings>
      <setting name="NotesPassword" serializeAs="String">
        <value>Br2V7yt7PabfFpS6ButPCg==</value>
      </setting>
      <setting name="SPDefaultWebSite" serializeAs="String">
        <value>https://rj365.sharepoint.com/sites/maxz</value>
      </setting>
      <setting name="SPUserId" serializeAs="String">
        <value>xiaozhe.ma@rj365.onmicrosoft.com</value>
      </setting>
      <setting name="SPPassword" serializeAs="String">
        <value>eA3CmTSDEvIKjienS37J0A==</value>
      </setting>
      <setting name="SqlServer" serializeAs="String">
        <value>192.168.137.55</value>
      </setting>
      <setting name="DBAuthenticateMode" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DBUserId" serializeAs="String">
        <value>sa</value>
      </setting>
      <setting name="DBPassWord" serializeAs="String">
        <value>BT+HQYJD/PvCMz5cIXbgmg==</value>
      </setting>
      <setting name="DataBaseName" serializeAs="String">
        <value>NFSDB</value>
      </setting>
      <setting name="ExportFolder" serializeAs="String">
        <value>C:\work\NSFConvertor</value>
      </setting>
      <setting name="CommandTimeout" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ConnectionTimeout" serializeAs="String">
        <value>60</value>
      </setting>
    </RJ.Tools.NotesTransfer.Engines.Properties.Settings>
  </applicationSettings>
</configuration>