<?xml version="1.0"?>
<!--
  ASP.NET アプリケーションの構成方法の詳細については、
  http://go.microsoft.com/fwlink/?LinkId=169433 を参照してください
  -->
<configuration>
  <!--
    web.config の変更点の説明については、http://go.microsoft.com/fwlink/?LinkId=235367 を参照してください。

    次の属性を <httpRuntime> タグに設定できます。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="googleService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="apikey" value="AIzaSyBL6NtX1XlJKS547PZ9OEHRtt-tP_d9pxo"/>
  </appSettings>
  <system.web>
    <!--<compilation debug="true" targetFramework="4.6.1"/>-->
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <compilation debug="true"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="GoogleService.PlaceServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="GoogleService.Service1AspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="GoogleService.PlaceServiceAspNetAjaxBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="GoogleService.PlaceService" behaviorConfiguration="GoogleService.PlaceServiceAspNetAjaxBehavior" >
        <endpoint address="" binding="webHttpBinding" contract="GoogleService.PlaceService" behaviorConfiguration="GoogleService.PlaceServiceAspNetAjaxBehavior" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="GoogleService.Service1">
        <endpoint address="" behaviorConfiguration="GoogleService.Service1AspNetAjaxBehavior" binding="webHttpBinding" contract="GoogleService.Service1" />
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <googleService.Properties.Settings>
      <setting name="UserId" serializeAs="String">
        <value>z00h801962</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>m@xz1205</value>
      </setting>
      <setting name="ProxyServer" serializeAs="String">
        <value>http://proxy.ricoh.co.jp:8080</value>
      </setting>
      <setting name="GoogleApiKey" serializeAs="String">
        <value>AIzaSyBL6NtX1XlJKS547PZ9OEHRtt-tP_d9pxo</value>
      </setting>
    </googleService.Properties.Settings>
  </applicationSettings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="false">
      <module type="GoogleService.ProxyCredProvider.DefProxy,GoogleService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </defaultProxy>
  </system.net>
</configuration>