USE [master]
GO
/****** Object:  Database [NFSDB]    Script Date: 2015/10/20 9:46:06 ******/
CREATE DATABASE [NFSDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NFSDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\NFSDB.mdf' , SIZE = 10240KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'NFSDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\NFSDB_log.ldf' , SIZE = 8384KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NFSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NFSDB]
GO
/****** Object:  Table [dbo].[DEST_MASTER]    Script Date: 2015/10/20 9:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEST_MASTER](
	[ID] [int] NOT NULL,
	[CATEGORY] [nvarchar](50) NOT NULL,
	[SP_TYPE] [nvarchar](200) NOT NULL,
	[DISPLAY_NAME] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_TYPE_MAPPING_MASTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EVENT_LOG]    Script Date: 2015/10/20 9:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT_LOG](
	[LOG_ID] [timestamp] NOT NULL,
	[EVENT_TIME] [datetime] NOT NULL,
	[EVENT_TYPE] [int] NOT NULL,
	[USER_NAME] [nvarchar](256) NULL,
	[COMPUTER_NAME] [nvarchar](100) NULL,
	[TASK_ID] [nvarchar](36) NULL,
	[TASK_NAME] [nvarchar](100) NULL,
	[IS_SUCCESS] [bit] NULL,
	[START_TIME] [datetime] NULL,
	[END_TIME] [datetime] NULL,
	[MESSAGE] [nvarchar](512) NULL,
	[SOURCE] [nvarchar](512) NULL,
	[STACK_TRACE] [nvarchar](max) NULL,
 CONSTRAINT [PK_EVENT_LOG] PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MIGRATE_DB]    Script Date: 2015/10/20 9:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIGRATE_DB](
	[TASK_ID] [nvarchar](36) NOT NULL,
	[TASK_NAME] [nvarchar](50) NOT NULL,
	[NS_SERVER] [nvarchar](200) NULL,
	[NS_DB_TITLE] [nvarchar](200) NULL,
	[NS_FILE_NAME] [nvarchar](200) NULL,
	[NS_FILE_PATH] [nvarchar](512) NOT NULL,
	[NS_URL] [nvarchar](512) NULL,
	[REPLICA_ID] [nvarchar](32) NULL,
	[NS_TEMP_TYPE] [int] NULL,
	[SP_LIST_TYPE] [int] NULL,
	[SP_LIST_NAME] [nvarchar](128) NULL,
	[SP_DISPLAY_NAME] [nvarchar](128) NULL,
	[DESCRIPTION] [nvarchar](256) NULL,
	[SP_SITE_URL] [nvarchar](256) NULL,
	[SP_LIST_ID] [nvarchar](256) NULL,
	[SHARED_FIELDS] [nvarchar](max) NULL,
	[IS_DEFAULT_ICON] [bit] NULL,
	[SP_LIST_URL] [nvarchar](255) NULL,
	[STATE] [int] NOT NULL,
	[EXECUTE_DATE] [datetime] NULL,
	[DEL_FLAG] [bit] NOT NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_MIGRATE_DB] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MIGRATE_FIELD]    Script Date: 2015/10/20 9:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIGRATE_FIELD](
	[TASK_ID] [nvarchar](36) NOT NULL,
	[NAME] [nvarchar](32) NOT NULL,
	[REAL_NAME] [nvarchar](512) NULL,
	[TARGET_TYPE] [nvarchar](100) NOT NULL,
	[SP_GUID] [nvarchar](36) NULL,
	[TITLE_NAME] [nvarchar](100) NULL,
	[IS_SHARED_FIELD] [bit] NULL,
 CONSTRAINT [PK_MIGRATE_FIELD] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MIGRATE_FORM]    Script Date: 2015/10/20 9:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIGRATE_FORM](
	[TASK_ID] [nvarchar](36) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[FORM_NO] [int] NULL,
	[ALIASES] [nvarchar](255) NULL,
	[DISPLAY_NAME] [nvarchar](100) NOT NULL,
	[NS_URL] [nvarchar](512) NULL,
	[IS_DEFAULT] [bit] NOT NULL,
	[DEFAULT_EDIT_FORM] [bit] NOT NULL,
	[DEFAULT_NEW_FORM] [bit] NOT NULL,
	[DEFAULT_DISP_FORM] [bit] NOT NULL,
	[HAS_NEWFORM] [bit] NOT NULL,
	[NEW_FORM_NAME] [nvarchar](30) NULL,
	[HAS_DISP_FORM] [bit] NOT NULL,
	[DISP_FORM_NAME] [nvarchar](30) NULL,
	[HAS_EDIT_FORM] [bit] NOT NULL,
	[EDIT_FORM_NAME] [nvarchar](30) NULL,
	[FORM_DXL] [nvarchar](max) NULL,
	[IS_TARGET] [bit] NOT NULL,
	[FIELDS] [nvarchar](max) NULL,
	[SP_GUID] [nvarchar](36) NULL,
	[SP_URL] [nvarchar](255) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_MIGRATE_FORM] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MIGRATE_VIEW]    Script Date: 2015/10/20 9:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIGRATE_VIEW](
	[TASK_ID] [nvarchar](36) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[ALIASES] [nvarchar](255) NULL,
	[DISPLAY_NAME] [nvarchar](100) NOT NULL,
	[NS_VIEW_TYPE] [int] NOT NULL,
	[SP_VIEW_TYPE] [int] NULL,
	[IS_PAGED] [bit] NOT NULL,
	[ROW_LIMIT] [int] NOT NULL,
	[SHOW_CHECKED] [bit] NOT NULL,
	[NS_URL] [nvarchar](512) NULL,
	[SELECTION_FORMULA] [nvarchar](max) NULL,
	[NS_COLUMNS] [nvarchar](max) NULL,
	[COLUMNS] [nvarchar](max) NULL,
	[SORT_COLUMNS] [nvarchar](max) NULL,
	[GROUP_COLUMNS] [nvarchar](max) NULL,
	[FILTER_CONDITION] [nvarchar](max) NULL,
	[REF_FORMS] [nvarchar](max) NULL,
	[IS_DEFAULT] [bit] NULL,
	[DEFAULT_VIEW] [bit] NOT NULL,
	[IS_TARGET] [bit] NOT NULL,
	[SP_GUID] [nvarchar](36) NULL,
	[SP_URL] [nvarchar](255) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_MIGRATE_VIEW] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SYSTEM_FIELD]    Script Date: 2015/10/20 9:46:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM_FIELD](
	[LIST_TYPE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](32) NOT NULL,
	[TITLE_NAME] [nvarchar](100) NULL,
	[REAL_NAME] [nvarchar](512) NOT NULL,
	[FIELD_TYPE] [nvarchar](50) NULL,
	[SP_GUID] [nvarchar](36) NULL,
 CONSTRAINT [PK_SYSTEM_FIELD_1] PRIMARY KEY CLUSTERED 
(
	[LIST_TYPE] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
