<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProxyCredProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ProxyCredProvider.Properties.Settings>
            <setting name="UserId" serializeAs="String">
                <value>z00h809162</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>m@xz1205</value>
            </setting>
            <setting name="ProxyServer" serializeAs="String">
                <value>http://proxy.ricoh.co.jp:8080</value>
            </setting>
        </ProxyCredProvider.Properties.Settings>
    </applicationSettings>
</configuration>