<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="XResource.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <XResource.My.MySettings>
            <setting name="SignType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsOpenFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsOpenDllFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsBuildPathAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImportType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentLanguage" serializeAs="String">
                <value>ja</value>
            </setting>
            <setting name="CSVEncode" serializeAs="String">
                <value>Shift-Jis</value>
            </setting>
            <setting name="BuildPath" serializeAs="String">
                <value />
            </setting>
        </XResource.My.MySettings>
    </userSettings>
</configuration>