<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CommandTimeout" value="100" />
    <add key="ConnectString" value="data source=rf229;password=boss;persist security info=True;user id=sa;packet size=4096" />
    <add key="server" value="rf229" />
    <add key="userid" value="sa" />
    <add key="psw" value="boss" />
    <add key="database" value="RFLow" />
  </appSettings>
</configuration>