<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Maxz.AuthProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Maxz.AuthProxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Maxz.AuthProxy.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyServer" serializeAs="String">
                <value />
            </setting>
        </Maxz.AuthProxy.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Maxz.AuthProxy.Properties.Settings>
            <setting name="NotUseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ByPassAddress" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>*.ricoh.co.jp</string>
                        <string>10.247.*</string>
                        <string>192.168.*</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Maxz.AuthProxy.Properties.Settings>
    </applicationSettings>
</configuration>