<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TableDesignInfo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <clear />
        <add name="TableDesignInfo.Properties.Settings.SeedDB(本番)"
            connectionString="Data Source=10.247.7.104;Initial Catalog=Live_Content;Integrated Security=False;User ID=sa;Password=n0pa$$wd;Connect Timeout=30;Encrypt=False;"
            providerName="System.Data.SqlClient" />
       <add name="TableDesignInfo.Properties.Settings.LiveDB(本番)"
            connectionString="Data Source=10.247.7.104;Initial Catalog=Live_New;Integrated Security=False;User ID=sa;Password=n0pa$$wd;Connect Timeout=30;Encrypt=False;"
            providerName="System.Data.SqlClient" />

      <add name="TableDesignInfo.Properties.Settings.SeedDB(テスト)"
            connectionString="Data Source=10.247.7.39;Initial Catalog=Live_Content_Test;Integrated Security=False;User ID=sa;Password=n0pa$$wd;Connect Timeout=30;Encrypt=False;"
            providerName="System.Data.SqlClient" />
      <add name="TableDesignInfo.Properties.Settings.LiveDB(テスト)"
            connectionString="Data Source=10.247.7.39;Initial Catalog=Live_New2;Integrated Security=False;User ID=sa;Password=n0pa$$wd;Connect Timeout=30;Encrypt=False;"
            providerName="System.Data.SqlClient" />
        <add name="TableDesignInfo.Properties.Settings.LocalSeedDB" connectionString="Data Source=192.168.137.163;Initial Catalog=SeedDB;Integrated Security=False;User ID=sa;Password=p;Connect Timeout=30;Encrypt=False;"
            providerName="System.Data.SqlClient" />
        <add name="TableDesignInfo.Properties.Settings.LiveDatabase"
            connectionString="Data Source=192.168.137.163;Initial Catalog=LIVE06;Persist Security Info=True;User ID=sa;Password=p"
            providerName="System.Data.SqlClient" />
      <add name="TableDesignInfo.Properties.Settings.Live07"
            connectionString="Data Source=192.168.137.163;Initial Catalog=LIVE07;Persist Security Info=True;User ID=sa;Password=p"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <TableDesignInfo.Properties.Settings>
            <setting name="CommandTimeOut" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TemplateFile" serializeAs="String">
                <value>Template\データベース設計書.xlsx</value>
            </setting>
        </TableDesignInfo.Properties.Settings>
    </applicationSettings>
</configuration>