<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <connectionStrings>
      <!--<add name="SourceDatabase" connectionString="Data Source=10.247.7.104;Initial Catalog=Live_Content;Integrated Security=False;User ID=sa;Password=n0pa$$wd;Connect Timeout=30;Encrypt=False;"/>
      <add name="TargetDatabase" connectionString="Data Source=10.247.7.39;Initial Catalog=Live_New2;Integrated Security=False;User ID=sa;Password=n0pa$$wd;Connect Timeout=30;Encrypt=False;"/>-->
      <add name="SourceDatabase" connectionString="Data Source=192.168.137.163;Initial Catalog=SeedDB;Persist Security Info=True;User ID=sa;Password=p;"/>
      <add name="TargetDatabase" connectionString="Data Source=192.168.137.163;Initial Catalog=LIVE06;Persist Security Info=True;User ID=sa;Password=p;"/>
      <add name="DenshowDatabase" connectionString="Server=10.247.7.101;Port=5432;Database=denshow;User Id=postgres;Password=n0pa$$wd"/>
    </connectionStrings>
    <appSettings>
      <add key="CommandTimeout"  value="60" />
      <add key="MaxDataCount" value="99999"/>
      <add key="ExportFolder" value="D:\DenshowTest\TestData\"/>
      <add key ="DenshowDbSchema" value ="public_dev6"/>
    </appSettings>
  <system.diagnostics>
      <switches>
			<add name="UniqueLog" value="1"/>
			<add name="LoggingLevel" value="4"/>
		</switches>
  </system.diagnostics>
</configuration>