<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <!--<add name="SourceDatabase" connectionString="Data Source=10.247.7.39;Initial Catalog=Live_Content;Integrated Security=False;User ID=sa;Password=n0pa$$wd;Connect Timeout=30;Encrypt=False;"/>-->
    <add name="SourceDatabase" connectionString="Data Source=10.247.7.39;Initial Catalog=Live_Content_20160121;Integrated Security=False;User ID=sa;Password=n0pa$$wd;Connect Timeout=30;Encrypt=False;"/>
    <add name="TargetDatabase" connectionString="Data Source=10.247.7.39;Initial Catalog=Live_Content;Integrated Security=False;User ID=sa;Password=n0pa$$wd;Connect Timeout=30;Encrypt=False;"/>
  </connectionStrings>
</configuration>