<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ProxyCredProvider.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <ProxyCredProvider.Properties.Settings>
      <setting name="UserId" serializeAs="String">
        <value>z00h801962</value>
      </setting>
      <setting name="Password" serializeAs="String">
        <value>m@xz1205</value>
      </setting>
      <setting name="ProxyServer" serializeAs="String">
        <value>http://proxy.ricoh.co.jp:8080</value>
      </setting>
    </ProxyCredProvider.Properties.Settings>
  </applicationSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="false">
      <module type="ProxyCredProvider.DefProxy,ProxyCredProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=5556a6c9bc2839b9"/>
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPoemApi" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/PoemWebService/PoemApi.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPoemApi"
        contract="PoemApiService.IPoemApi" name="BasicHttpBinding_IPoemApi" />
    </client>
  </system.serviceModel>
</configuration>