<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RJ.Tools.NotesTransfer.Engines.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      
    </configSections>
    <applicationSettings>
      
        <RJ.Tools.NotesTransfer.Engines.Properties.Settings>
            <setting name="NotesPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SPDefaultWebSite" serializeAs="String">
                <value />
            </setting>
            <setting name="SPUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="SPPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlServer" serializeAs="String">
                <value />
            </setting>
            <setting name="DBAuthenticateMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DBUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassWord" serializeAs="String">
                <value />
            </setting>
            <setting name="DataBaseName" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandTimeout" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>60</value>
            </setting>
        </RJ.Tools.NotesTransfer.Engines.Properties.Settings>
    </applicationSettings>
</configuration>