USE [NFSDB]
GO
/****** Object:  Table [dbo].[DEST_MASTER]    Script Date: 2015/10/19 14:25:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEST_MASTER](
	[ID] [int] NOT NULL,
	[CATEGORY] [nvarchar](50) NOT NULL,
	[SP_TYPE] [nvarchar](200) NOT NULL,
	[DISPLAY_NAME] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_TYPE_MAPPING_MASTER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[CATEGORY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
