USE [NFSDB]
GO
/****** Object:  Table [dbo].[EVENT_LOG]    Script Date: 2015/10/19 14:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENT_LOG](
	[LOG_ID] [timestamp] NOT NULL,
	[EVENT_TIME] [datetime] NOT NULL,
	[EVENT_TYPE] [int] NOT NULL,
	[USER_NAME] [nvarchar](256) NULL,
	[COMPUTER_NAME] [nvarchar](100) NULL,
	[TASK_ID] [nvarchar](36) NULL,
	[TASK_NAME] [nvarchar](100) NULL,
	[IS_SUCCESS] [bit] NULL,
	[START_TIME] [datetime] NULL,
	[END_TIME] [datetime] NULL,
	[MESSAGE] [nvarchar](512) NULL,
	[SOURCE] [nvarchar](512) NULL,
	[STACK_TRACE] [nvarchar](max) NULL,
 CONSTRAINT [PK_EVENT_LOG] PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
