USE [NFSDB]
GO
/****** Object:  Table [dbo].[MIGRATE_FIELD]    Script Date: 2015/10/19 14:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIGRATE_FIELD](
	[TASK_ID] [nvarchar](36) NOT NULL,
	[NAME] [nvarchar](32) NOT NULL,
	[REAL_NAME] [nvarchar](512) NULL,
	[TARGET_TYPE] [nvarchar](100) NOT NULL,
	[SP_GUID] [nvarchar](36) NULL,
	[TITLE_NAME] [nvarchar](100) NULL,
	[IS_SHARED_FIELD] [bit] NULL,
 CONSTRAINT [PK_MIGRATE_FIELD] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
