USE [NFSDB]
GO
/****** Object:  Table [dbo].[MIGRATE_FORM]    Script Date: 2015/10/19 14:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIGRATE_FORM](
	[TASK_ID] [nvarchar](36) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[FORM_NO] [int] NULL,
	[ALIASES] [nvarchar](255) NULL,
	[DISPLAY_NAME] [nvarchar](100) NOT NULL,
	[NS_URL] [nvarchar](512) NULL,
	[IS_DEFAULT] [bit] NOT NULL,
	[DEFAULT_EDIT_FORM] [bit] NOT NULL,
	[DEFAULT_NEW_FORM] [bit] NOT NULL,
	[DEFAULT_DISP_FORM] [bit] NOT NULL,
	[HAS_NEWFORM] [bit] NOT NULL,
	[NEW_FORM_NAME] [nvarchar](30) NULL,
	[HAS_DISP_FORM] [bit] NOT NULL,
	[DISP_FORM_NAME] [nvarchar](30) NULL,
	[HAS_EDIT_FORM] [bit] NOT NULL,
	[EDIT_FORM_NAME] [nvarchar](30) NULL,
	[FORM_DXL] [nvarchar](max) NULL,
	[IS_TARGET] [bit] NOT NULL,
	[FIELDS] [nvarchar](max) NULL,
	[SP_GUID] [nvarchar](36) NULL,
	[SP_URL] [nvarchar](255) NULL,
	[CREATE_DATE] [datetime] NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_MIGRATE_FORM] PRIMARY KEY CLUSTERED 
(
	[TASK_ID] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
