USE [NFSDB]
GO
/****** Object:  Table [dbo].[SYSTEM_FIELD]    Script Date: 2015/10/19 14:25:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM_FIELD](
	[LIST_TYPE] [nvarchar](50) NOT NULL,
	[NAME] [nvarchar](32) NOT NULL,
	[TITLE_NAME] [nvarchar](100) NULL,
	[REAL_NAME] [nvarchar](512) NOT NULL,
	[FIELD_TYPE] [nvarchar](50) NULL,
	[SP_GUID] [nvarchar](36) NULL,
 CONSTRAINT [PK_SYSTEM_FIELD_1] PRIMARY KEY CLUSTERED 
(
	[LIST_TYPE] ASC,
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
