/*
TABLE
{
	font-size: 12px;
	font-style: normal;
	color:#333333;
}

.HIDDEN
{
	display:none;
	height:10px;
}
.SHOW
{
	display:block;
	height:10px;
}
.VIEWFONT
{
	font-family:‚l‚r ‚oƒSƒVƒbƒN;
	font-size: 9pt;
	word-break:  break-all; 
	word-wrap : break-word;
}
.HIDDENONLY
{
	display:none;
}
*/